<div class="footer">
	<div class="col content-center">
		<div class="row noflex" style="margin: 10px 0;">
			<div class="col content-center">
				<h1 class="super-bubbly" style="text-shadow: 0px 0px 6px #a1ccd7; font-size: 2rem;"> <span style="color:#fbdddd">Bubble</span><span style="color: #77cbd3;">CSS</span> </h1>
			</div>

			<div class="col content-center col-links">
				<div style="display: flex; gap: 25px;" class="col-links">
					<a href="/public/index.html" class="link" style="font-weight: 400;">Strona główna</a>
					<a href="/public/about.html" class="link" style="font-weight: 400;">O projekcie</a>
					<a href="https://github.com/AdamBru/BubbleCSS"><img src="/BubbleCSS/assets/images/github.svg" alt="GitHib" width="32px" class="hover-sizeup"></a>
				</div>
			</div>
		</div>

		<div class="row" style="margin: 0;">
			<div class="col content-center lato-light">
				<p class="text-center">Copyright 2025 &copy; AdamBru. <span style="display: inline-block;">All rights reserved.</span></p>
			</div>
		</div>
	</div>
</div>