<div class="menu">
	<ul>
		<li> <a href="./getting-started.html"> <h1> <span class="icon play"></span> Rozpoczęcie pracy</h1> </a> </li>
		<li> <a href="./getting-started.html#install">Instalacja</a> </li>
		<li> <a href="./getting-started.html#project-structure">Struktura projektu</a> </li>
		<li> <a href="./getting-started.html#configuration">Konfiguracja</a> </li>
		
		<li> <a href="./layout.html"> <h1> <span class="icon layout"></span> Szablon</h1> </a> </li>
		<li> <a href="./layout.html#components">Komponenty</a> </li>
		<li> <a href="./layout.html#elements">Elementy</a> </li>
		<li> <a href="./layout.html#layout">Układ elementów</a> </li>

		<li> <a href="./interactive.html">  <h1> <span class="icon hand"></span> Interaktywne</h1> </a> </li>
		<li> <a href="./interactive.html#buttons">Przyciski</a> </li>
		<li> <a href="./interactive.html#badges">Plakietki</a> </li>
		<li> <a href="./interactive.html#inputs">Pola tekstowe</a> </li>
		<li> <a href="./interactive.html#dropdowns">Listy rozwijane</a> </li>
		<li> <a href="./interactive.html#forms">Formularze</a> </li>
		<li> <a href="./interactive.html#links">Odnośniki</a> </li>
		<li> <a href="./interactive.html#tooltips">Tooltip</a> </li>
		<li> <a href="./interactive.html#tabs">Karty</a> </li>
		<li> <a href="./interactive.html#modals">Modal</a> </li>
		
		<li> <a href="./text.html"> <h1> <span class="icon text"></span> Tekst</h1> </a> </li>
		<li> <a href="./text.html#fonts">Czcionki</a> </li>
		<li> <a href="./text.html#font-size">Rozmiar czcionki</a> </li>
		<li> <a href="./text.html#lists">Listy</a> </li>
		
		<li> <a href="./miscellaneous.html"> <h1> <span class="icon brush"></span> Różne</h1> </a> </li>
		<li> <a href="./miscellaneous.html#images"> <span class="todo">TODO</span> Obrazki</a> </li>
		<li> <a href="./miscellaneous.html#icons">Ikony</a> </li>
		<li> <a href="./miscellaneous.html#tables">Tabele</a> </li>
		<li> <a href="./miscellaneous.html#shadow">Cień</a> </li>
		<li> <a href="./miscellaneous.html#zoom">Powiększenie</a> </li>
	</ul>
</div>

<!-- <div class="menu-toggle">&#9776; Dokumentacja</div> -->