<div class="menu">
	<ul>
		<li> <a href="../docs/getting-started.html"> <h1>Rozpoczęcie pracy</h1> </a> </li>
		<li> <a href="#install">Instalacja</a> </li>
		<li> <a href="#project-structure">Struktura projektu</a> </li>
		<li> <a href="#configuration">Konfiguracja</a> </li>
		
		<li> <a href="../docs/layout.html"> <h1>Szablon</h1> </a> </li>
		<li> <a href="#components">Komponenty</a> </li>
		<li> <a href="#elements">Elementy</a> </li>

		<li> <a href="../docs/interactive.html"> <h1>Interaktywne</h1> </a> </li>
		<li> <a href="#buttons">Przyciski</a> </li>
		<li> <a href="#inputs">Inputy</a> </li>
		<li> <a href="#forms">Formularze</a> </li>
		<li> <a href="#links">Odnośniki</a> </li>
		<li> <a href="#badges">Plakietki</a> </li>
		<li> <a href="#tooltips">Tooltip</a> </li>
		<li> <a href="#code-snippet">Fragment kodu</a> </li>
		<li> <a href="#copy">Kopiuj</a> </li>
		
		<li> <a href="../docs/text.html"> <h1>Tekst</h1> </a> </li>
		<li> <a href="#">a</a> </li>
		<li> <a href="#">b</a> </li>
		<li> <a href="#">c</a> </li>
		
		<li> <a href=""> <h1>D</h1> </a> </li>
		<li> <a href="#">a</a> </li>
		<li> <a href="#">b</a> </li>
		<li> <a href="#">c</a> </li>
		<li> <a href="#">c</a> </li>
	</ul>
</div>

<div class="menu-toggle">&#9776; Dokumentacja</div>