<!-- Tworzenie paska nawigacyjnego. Dodaj elementy paska jako elementy listy. 
Możesz dodać listy jako elemnty głównej listy, aby stworzyć dropdown po najechaniu. -->
<nav class="top-nav">
	<ul class="lato-light">
		<li><a href="/index.html">Strona główna</a></li>
		<li>
			<a href="/public/docs/getting-started.html">Docs</a>
			<ul>
				<li><a href="/public/docs/getting-started.html">Rozpoczęcie pracy</a></li>
				<li><a href="/public/docs/layout.html">Szablon</a></li>
				<li><a href="/public/docs/interactive.html">Interaktywne</a></li>
				<li><a href="/public/docs/text.html">Tekst</a></li>
				<li><a href="/public/docs/miscellaneous.html">Różne</a></li>
			</ul>
		</li>
		<li><a href="/examples.html">Przykłady</a></li>
		<li><a href="/about.html">O projekcie</a></li>
		<li><a href="/contact.html">Kontakt</a></li>
	</ul>
</nav>

<div class="nav-toggle">&ctdot;</div>
