<div class="footer">
	<div class="col content-center">
		<div class="row noflex" style="margin: 10px 0;">
			<div class="col content-center col-links">
				<div style="display: flex; gap: 25px;" class="col-links">
					<a href="" style="font-weight: 400;">Strona główna</a>
					<a href="" style="font-weight: 400;">Meble</a>
					<a href="" style="font-weight: 400;">Urządzenia</a>
					<a href="" style="font-weight: 400;">Akcesoria</a>
				</div>
			</div>

			<div class="col content-center col-links" style="font-weight: 400;">
				<div style="display: flex; gap: 25px;" class="col-links">
					<a href="">Koszyk</a>
					<a href="">Polityka prywatności</a>
				</div>
			</div>
		</div>

		<div class="row" style="margin: 0;">
			<div class="col content-center lato-light">
				<p class="text-center">Copyright 2025 &copy; AdamBru. <span style="display: inline-block;">All rights reserved.</span></p>
			</div>
		</div>
	</div>
</div>