<div class="menu">
	<ul>
		<li> <a> <h1>Podsumowanie</h1> </a> </li>

		<li> 
			<a>
				<div class="row" style="padding: 0; margin: 0;">
					<div class="col">
						Produkty
					</div>
					<div class="col">
						359.47 zł
					</div>
				</div>
			</a> 
		</li>

		<li> 
			<a>
				<div class="row" style="padding: 0; margin: 0;">
					<div class="col">
						Dostawa
					</div>
					<div class="col">
						13.99 zł
					</div>
				</div>
			</a> 
		</li>

		<li> 
			<a>
				<div class="row" style="padding: 0; margin: 0;">
					<div class="col">
						Kod rabatowy
					</div>
					<div class="col">
						-25.00 zł
					</div>
				</div>
			</a> 
		</li>

		<li> 
			<a>
				<div class="row" style="padding: 0; margin: 0; font-weight: 600;">
					<div class="col">
						Suma
					</div>
					<div class="col">
						348.46 zł
					</div>
				</div>
			</a> 
		</li>
		
		<li> <a> <h1>Kod rabatowy</h1> </a> </li>
		<li>
			 <a>
				<div class="input-group" style="margin: 3px 0;">
					<input type="text" class="input-flat-right" style="max-width: 140px; color: darkred;" value="RABAT25">
					<button class="input-addon-right"> Zastosuj </button>
				</div>
			</a> 
		</li>

		<li> <a class="lato-light">Przewidywany czas dostawy: <p class="lato-regular">Czwartek, 12 lut</p></a> </li>

		<li> <a class="text-center"><button class="btn color-accent-2" style="margin: 3px 0;">Zapłać</button></a> </li>

	</ul>
</div>