<div class="footer">
	<div class="col content-center">
		<div class="row noflex" style="margin: 10px 0;">
			<div class="col content-center">
				<h1 style="color: #fff;"> Twarzoksiążka </h1>
			</div>

			<div class="col content-center col-links">
				<div style="display: flex; gap: 25px;" class="col-links">
					<a href="" class="link" style="font-weight: 400;">Strona główna</a>
					<a href="" class="link" style="font-weight: 400;">Mój profil</a>
					<a href="" class="link" style="font-weight: 400;">Znajomi</a>
				</div>
			</div>
		</div>

		<div class="row" style="margin: 0;">
			<div class="col content-center lato-light">
				<p class="text-center">Copyright 2025 &copy; AdamBru. <span style="display: inline-block;">All rights reserved.</span></p>
			</div>
		</div>
	</div>
</div>