<div class="menu">
	<ul>
		<li> <a href=""> <h1>Nagłówek listy</h1> </a> </li>
		<li> <a href="#">element</a> </li>
		<li> <a href="#">element</a> </li>
		
		<li> <a href=""> <h1>Nagłówek listy</h1> </a> </li>
		<li> <a href="#">element</a> </li>
		<li> <a href="#">element</a> </li>
		<li> <a href="#">element</a> </li>
		<li> <a href="#">element</a> </li>
		<li> <a href="#">element</a> </li>
		
		<li> <a href=""> <h1>Nagłówek listy</h1> </a> </li>
		<li> <a href="#">element</a> </li>
		<li> <a href="#">element</a> </li>
		<li> <a href="#">element</a> </li>
	</ul>
</div>

<div class="menu-toggle">&#9776; Dokumentacja</div>