.logo {
	height: 60px;
	min-width: 60px;
	margin: 5px 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	filter: drop-shadow(0px 0px 3px #aaa);
}

#header-placeholder {
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 2;
	margin-bottom: -20px;
}

.header {
	background-color: var(--color-main);
	border-radius: var(--round-value);
	height: fit-content;
	max-width: calc(2000px + var(--round-value) * 2);
	width: 100%;
	margin-top: 10px;
	filter: drop-shadow(0px 0px 15px #cdcdcde6);
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

}

	.header a {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.header h1 {
		font-size: 2rem;
		margin-top: 5px;
	}

@media (max-width: 768px) {

	#header-placeholder {
		position: sticky;
		top: 0; 
	}
}