body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	height: auto;
	padding: 0 100px;
	gap: 20px;
	align-content: flex-start;
	/* flex-direction: column; */
}

.page-container {
	max-width: 2000px;
	min-width: 0;
	width: 100%;
	height: auto;
	/* min-height: 100%; */
		min-height: calc(100vh - 344px); /* TAK, WIEM ŹE TO JEST ZŁE ALE NIE MAM JUŻ SIŁY ANI CZASU Z TYM WALCZYĆ */

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	gap: 20px;
	position: relative;
	margin: 0 20px;
	/* flex: 1; */
}

/* Layouts */
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;

	width: 100%;
	margin: 20px 0;
}

.col {
	flex: 1;
	min-width: fit-content;
}

.col-even {
	flex: 1;
}

.content-center {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.page-container #home-row {
	margin: 70px 0;
}

@media (max-width: 768px) {
	body {
		padding: 0 15px;
	}

	.page-container #home-row {
		margin: 0;
	}
}