/* Pole z ramką */
.framed-field, .frmdfld {
	width: 100%;
	height: auto;
	padding: 15px 20px;
	background: none;
	border-radius: var(--round-value);
	border: 1px solid #ccc;
}

pre {
	position: relative;
	top: -15px;
}

pre > code {
	position: relative;
	width: calc(100% + 40px);
	left: -20px;
	margin-bottom: -30px;
	margin-top: 15px;
	font-size: .95rem;
}

code.inline {
	background-color: #282c34;
	color: #abb2bf;
	border-radius: 3px;
	padding: 3px 5px;
	font-size: .9rem;
}

/* hr.divider-line */
.divider-line, .divide {
	height: 1px;
	background: #ccc;
	border: none;
	position: relative;
	left: -20px;
	width: calc(100% + 40px);
	margin: 15px 0;
}

/* span TODO */
.todo {
	font-style: italic;
	color: #46953b;
	border: 2px dashed #46953b;
	padding: 2px 5px 2px 2px;
}

/* btn Copy icon */
.copy {
	background: url(/assets/images/copy.png), #ddd;
	background: url(https://adambru.github.io/BubbleCSS/assets/images/copy.png), #ddd;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	height: 25px;
	width: 25px;
	padding: 17px 20px;
	margin: 0;
	position: relative;
}

.divide:has(~ p > .copy),
.divider-line:has(~ p > .copy) {
	margin-bottom: 5px;
}

/* Tooltip */
.tooltip {
	position: relative;
}

.tooltip::before,
.tooltip::after {
	--scale: 0;
	--arrow-size: 10px;
	--tooltip-color: #666;

	position: absolute;
	top: -.25rem;
	left: 50%;
	transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
	transition: 150ms transform;
	transform-origin: bottom center;
}

.tooltip::before {
	--translate-y: calc(-100% - var(--arrow-size));
	
	content: attr(data-tooltip);
	color: #fff;
	font-size: .8rem;
	padding: 2px 10px;
	border-radius: var(--round-value);
	text-align: center;
	width: max-content;
	/* max-width: 100%; */
	background: var(--tooltip-color);
}

.tooltip::after {
	--translate-y: calc(-1 * var(--arrow-size));
	content: '';
	border: var(--arrow-size) solid transparent;
	border-top-color: var(--tooltip-color);
	transform-origin: top center;
	background: transparent;
	border-radius: 0;
	height: 0;
	width: 0;
}

.tooltip:hover::before,
.tooltip:hover::after {
	--scale: 1;
}

/* hr */
hr {
	height: 1px;
	background: #ccc;
	border: none;
	position: relative;
	width: 100%;
	margin: -15px 0 0 0;
}

/* Cień */
.shadow {
	--shadow-size: 10px;
	filter: drop-shadow(0 0 var(--shadow-size) #bbbbbbbb);
}

/* Powiększenie po najechaniu */
.hover-sizeup {
	transition: all 0.2s ease-in-out;
}

.hover-sizeup:hover {
	transform: scale(1.4);
}

/* Przewijanie */
html {
	scroll-behavior: smooth;
}

h2 {
	scroll-margin-top: 40px;
}

/* Ikony */
.icon {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 1rem;
	width: 1rem;
	margin: 0 5px -2px 0;
	display: inline-block;
}
.play {background-image: url(/assets/images/play.png);}
.layout {background-image: url(/assets/images/layout.png);}
.hand {background-image: url(/assets/images/hand_draw.png);}
.text {background-image: url(/assets/images/text_cursor.png);}
.brush {background-image: url(/assets/images/paintbrush.png);}

/* Modal */
