<!-- Tworzenie paska nawigacyjnego. Dodaj elementy paska jako elementy listy. 
Możesz dodać listy jako elemnty głównej listy, aby stworzyć dropdown po najechaniu. -->
<nav class="top-nav">
	<ul class="lato-light">
		<li><a href="/index.html">Strona główna</a></li>
		<li>
			<a href="/docs.html">Docs</a>
			<ul>
				<li><a href="#">Coś</a></li>
				<li><a href="#">Coś</a></li>
				<li><a href="#">Bardzo szeroki element listy rozwijanej</a></li>
			</ul>
		</li>
		<li><a href="/examples.html">Przykłady</a></li>
		<li><a href="/about.html">O projekcie</a></li>
		<li><a href="/contact.html">Kontakt</a></li>
	</ul>
</nav>

<div class="nav-toggle">&ctdot;</div>
